h1{
    background-color: aqua;
    color: aquamarine;
}
h1{
    color:purple;
}
h2{
    color: rgb(212, 0, 255);
}
h3{
    background-color: yellow;
    color: red;
}
h4{
    background-color: slategray;
    color: black;
}